/* -- Cores a usar: preto, roxo, rosa, azul. -- */

/*      rosa framboesa - #8d0a5f                */

/*      roxo amora -     #2b1f3f                */

/* -------------------------------------------- */

* {
  box-sizing: border-box;
}

.logo img {
  width: 80px;
  height: 80px;
}

.body {
  text-align: left;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  font-size: 25px;
}

.hero {
  width: 1040px;
  line-height: 6.5rem;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
}

.menu {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.menu a {
  color:white;
  border-radius: 27px;
  border: solid 1px #ffffff;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}