/* -- Cores a usar: preto, roxo, rosa, azul. -- */

/*      rosa framboesa - #8d0a5f                */

/*      rosa pop - #f356bc                      */

/*      roxo amora -     #2b1f3f                */

/* -------------------------------------------- */

/* -- CSS Grid 101: A hope is born ------------
----------------------------------------------- */

* {
    box-sizing: border-box;
}

/* -- Basic styles ----------------------------
----------------------------------------------- */

body {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 1, 2rem;
    word-spacing: .02em;
    line-height: 1.7rem;
}

.main {
    background-color: black;
}

.about {
    background-color: #8D0A5F;
}

/* -- Images ----------------------------------
----------------------------------------------- */

.logo img {
    max-width: 251px;
    max-height: 252px;
    left: 258px;
    top: 191px;
}

.arrow img {
    max-width: 90px;
}

.myface img {
    max-width: 476px;
    max-height: 642px;
}

/* -- Lettering -------------------------------
----------------------------------------------- */

/* main */
.main {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: white;
}

.title h1 {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.title p {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

/* about */
.about {
    font-family: 'Space Mono', monospace;
    font-weight: normal;
    color:white;
}

html {
    font-family: 'Space Mono', monospace;
    color: black;
}

/* -- Links -----------------------------------
----------------------------------------------- */

::selection {
    background-color: #8d0a5f;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #f356bc;
    text-decoration:dotted;
}
