/* -- Cores a usar: preto, roxo, rosa, azul. -- */

/*      rosa framboesa - #8d0a5f                */
/*      roxo amora -     #2b1f3f                */

/* -------------------------------------------- */

/* -- CSS Grid 101: A hope is born ------------
----------------------------------------------- */

* {
    box-sizing: border-box;
}

/* -- Basic styles ----------------------------
----------------------------------------------- */

body { 
    text-align: center;
}

.main {
    max-width: 470px;
    
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    line-height: 1.5em;
    
    margin-left: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 100%;

    padding-top: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    margin-left: auto;
    margin-right: auto;
}

.logo {
    text-align: left;
}

.logo img {
    max-width: 45px;
}

.hamburger {
    text-align: right;
}

.moi {
    padding-top: 50px;
}

.moi img {
    max-width: 215px;
    border-radius: 45px;
}

.about p {
    font-size: 18px;
    max-width: 240px;
}

.buttons {
    display: grid;
    gap: 10px;

    padding-top: 10px;
}

.buttons img {
    max-width: 15px;
}

.arrow {
    text-align: right;
}

.blackstar {
    text-align: right;
}

::selection {
    background-color: #8d0a5f;
    color: white;
}

/* -- Lettering -------------------------------
----------------------------------------------- */

html {
    color: black;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

.blackstar {
}

/* -- Links -----------------------------------
----------------------------------------------- */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.buttons a {
    font-size: 22px;

    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 5px 25px 5px 25px;
}

.buttons a:hover {
    background-color: #8d0a5f;
}


/* -- Gradientes --------------------
----------------------------------------------- */