/* -- Cores a usar: preto, roxo, rosa, azul. -- */

/*      rosa framboesa - #8d0a5f                */
/*      roxo amora -     #2b1f3f                */

/* -------------------------------------------- */

/* -- CSS Grid 101: A hope is born ------------
----------------------------------------------- */

* {
    box-sizing: border-box;
}

/* -- Basic styles ----------------------------
----------------------------------------------- */

body { 
    text-align: center;
}

.main {
    max-width: 470px;
    
    text-align: left;
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    line-height: 1.5em;
    
    margin-left: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu {
    width: 100%;
    text-align: left;

    padding-top: 25px;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 100%;
}

.logo img {
    max-width: 50px;
}

.hamburger {
    text-align: right;
}

.moi img {
    max-width: 205px;
    border-radius: 45px;
}

.buttons .work{
    padding: 15px;
}

.buttons .contact {
    padding: 15px;
}

.arrow {
    text-align: right;
}

.blackstar {
    text-align: right;
}

::selection {
    background-color: #8d0a5f;
    color: white;
}

/* -- Lettering -------------------------------
----------------------------------------------- */

html {
    color: black;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
}

.blackstar {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

/* -- Links -----------------------------------
----------------------------------------------- */

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.buttons a {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 10px 50px 10px 50px;
}

.buttons a:hover {
    background-color: #8d0a5f;
}


/* -- Gradientes --------------------
----------------------------------------------- */