/* --- Cores ------------------------------- -- */

/*      rosa framboesa - #8d0a5f                */
/*      roxo amora -     #2b1f3f                */
/*      laranja caril -  #CA5010                */

/* -------------------------------------------- */

/* -- Basic styles ----------------------------
----------------------------------------------- */

html {
    background-color: black;
}

body{
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    word-spacing: 0.02em;
    line-height: 1.7rem;

}

.logo {
    width: 100%;
    padding: 45px 0px 15px 0px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.main {
    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}

::selection {
    background-color: #CA5010;
    color: white;
}

/* -- Lettering -------------------------------
----------------------------------------------- */

html{
    font-family: 'Cabin', sans-serif;
    color: white;
}

.keywords {
    text-align: left;
    font-size: 20px;
}

.about {
    text-align: left;
    padding-top: 1rem;
    width: 85%;
    margin: 0 auto;
    line-height: 200%;
}

.title {
    font-size: 24px;
}

/* -- Links -----------------------------------
----------------------------------------------- */
a{
    color: #CA5010;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
}
