html {
    --highlight-color: #0037BE;
    background-color: #FDFDFD;
    font-family: 'Inter', sans-serif;
    color: #1C1C1C;
}

body {
    text-align: left;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    word-spacing: 0.05em;
}

.main {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}

::selection {
    background-color: var(--highlight-color);
    color: white;
}


/* -- Typography -------------------------------
----------------------------------------------- */

.about {
    text-align: left;
    padding-top: 1rem;
    width: 85%;
    margin: 0 auto;
}
.title {
    font-size: 1rem;
    color:#0037BE;
}

.description h2 {
    font-weight: normal;
}

.description h3 {
    font-weight: normal;
}

.footer {
    padding-top: 1rem;
}

.about strong {
    color:#0037BE;
}


/* -- Links -----------------------------------
----------------------------------------------- */

a {
    color: #0037BE;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: underline;
    transition: all 350ms ease;
    transition: color 350ms ease;
}