/* -- Cores a usar: preto, roxo, rosa, azul. -- */

/*      rosa framboesa - #8d0a5f                */
/*      roxo amora -     #2b1f3f                */

/* -------------------------------------------- */

/* -- Basic styles ----------------------------
----------------------------------------------- */

html {
    background-color: black;
}

body{
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    word-spacing: 0.02em;
    line-height: 1.7rem;

}

.logo {
    width: 100%;
    padding: 45px 0px 15px 0px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.menu a {
    padding: 5px;
}

.main {
    padding-left: 1rem;
    padding-right: 1rem;
}

.main, .footer {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.warp_drive {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    overflow: hidden;
}

::selection {
    background-color: #8d0a5f;
    color: white;
}

.footer {
    padding: 15px;
    width: 370px;
}

.footer img {
    width: 15px;
}

.footer a {
    padding: 15px;
}

/* -- Lettering -------------------------------
----------------------------------------------- */

html{
    font-family: 'Cabin', sans-serif;
    color: white;
}

h3 {
    font-family: 'Cabin', sans-serif;
    text-align: left;
}

.about {
    text-align: justify;
    padding-top: 1rem;
    width: 85%;
    margin: 0 auto;
    line-height: 200%;
}

.research {
    padding-top: 1rem;
}

.title {
    font-size: 24px;
}

/* -- Links -----------------------------------
----------------------------------------------- */
a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #8d0a5f;
    text-decoration: underline;
}
